# App
APP_NAME=
APP_DESCRIPTION=
APP_VERSION=
APP_ENV=

# CORS
CORS_ALLOWED_ORIGINS=

# Keycloak
KEYCLOAK_HOST=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=

# Database
DATABASE_URL=

# OPENEO
OPENEO_BACKENDS=